.header{
    width: 100%;
    height: 60px;
    background: black;
}
.logo{
    color: black;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
        
}
.menu {
    float: left;
    padding-left: 432px;
}